
.bordas{
    border: 0.1rem solid black;
    border-bottom: 0.25rem solid black;
    border-right: 0.2rem solid black;
    border-radius: 0.5rem;
}

.coluna {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.3rem;
}
.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bordaigual {
    min-width: 20%;
    max-width: 20rem;
    width: 50%;
}

.break{
    border-bottom: 0.15rem solid black;
    word-break: break-all;
    margin: 0.3rem;
}

.selc{
    display: flex;
    align-self: flex-start;
    width: 80%;
    height: 1rem;
}

h1 {
    font-weight: bolder;
    font-size: 2.0rem;
    margin: 0.5rem;
    margin-top: 2.5rem;
    padding: 1rem;
}

h2 {
    margin: 0.8rem;
    font-size: 1.2rem;
}

h3{
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    margin: 0.5rem;
    border: 0.1rem solid black;
    border-bottom: 0.25rem solid black;
    border-right: 0.2rem solid black;
}

fieldset{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0rem 1.5rem 0rem;
}

p{
    padding: 0.3rem;
}

label{
    min-width: 1.8rem;
    margin-left: 2%;
    margin-right: 2%;
}

body{
    background-color: rgb(128, 223, 191);
}
main{
    background-color: rgba(140, 171, 180, 0.859);
    margin: 0.3rem;
}
header{
    background-color: rgb(141, 223, 223);
}