html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background-color: #000000;
  color: #ffffff;
}

h1 {
  margin: 1rem 0 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 1rem;
}

label {
  display: block;
}

input {
  display: block;
  margin-bottom: 1rem;
}

input[type="submit"] {
  margin-top: 1rem;
}
