html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
}

a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: .1rem solid #555555;
  text-decoration: none;
  background: linear-gradient(180deg, #eeeeee 0%, #ffffff 100%);
  color: #005500;
}

a img {
  width: 3rem;
  margin: .5rem;
  border: .2rem solid #005500;
  border-radius: 50%;
}

a h2 {
  margin: .5rem 0;
  font-weight: bold;
}

a p {
  margin: .5rem 0;
}
